@import "_mixins";

body {
  font-family: 'Gill Sans MT', 'Gill Sans', gill;
  color: white;
}

#background {
  @include fullscreen;
  z-index: 0;
}

a {
  text-decoration: none;
}

.clearFloats {
  clear: both;
  overflow: hidden;
  height: 0;
}