@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "_mixins";

.library .film-strip {
  position: absolute;
  left: 0;
  width: 100%;
  top: 30%;
  height: 25%;
  background: rgba(0, 0, 0, .28);
  overflow: hidden;

  .shading {
    position: absolute;
    left: 0;
    width: 100%;
    height: 18%;

    &.top {
      top: 0;
      @include background(linear-gradient(top, rgba(0,0,0,.4), rgba(0,0,0,0)));
    }
    &.bottom {
      bottom: 0;
      @include background(linear-gradient(bottom, rgba(0,0,0,.4), rgba(0,0,0,0)));
    }
  }

  .shutter {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background: #1c1c1c;
    @include transition-property(top, bottom);
    @include transition-duration(350ms);

    &.top {
      top: -50%;
      border-bottom: 1px solid #333;
    }

    &.bottom {
      bottom: -50%;
      border-top: 1px solid #333;
    }
  }

  .thumbs {
    position: absolute;
    top: 0;
    height: 100%;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    .thumb {
      position: absolute;
      top: 0;
      height: 100%;
      @include poster-placeholder;
      @include opacity(.7);
      @include box-shadow(0 0 10px black);

      .posterless {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 12% 7%;
        text-align: center;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }

}

.library.loading .film-strip .shutter {
  &.top { top: 0 }
  &.bottom { bottom: 0 }
}