#background        { z-index: 0  }
.library           { z-index: 1  ;
  .film-strip      { z-index: 5  ;
    .thumbs        { z-index: 10 ;
      .posterless  { z-index: 11 }
      img          { z-index: 12 }
    }
    .shading       { z-index: 20 }
    .shutter       { z-index: 21 }
  }
  .focused-title   { z-index: 50 }
  .tokens          { z-index: 55 }
  .search          { z-index: 60 }
}
.dialog            { z-index: 80 ;
  .foreground      { z-index: 85 }
}